<!-- Start: Content-Wrapper -->
<section id="content_wrapper">

    <!-- begin canvas animation bg -->
    <div id="canvas-wrapper">
        <canvas id="demo-canvas"></canvas>
    </div>


    <!-- Begin: Content -->
    <section id="content">

        <div class="admin-form theme-info" id="login1">

            <div class="row mb15 table-layout">

                <div class="col-xs-6 va-m pln">
                    <a ui-sref="dashboard" title="Return to Dashboard">
                        <img src="../assets/img/logos/logo_white.png" title="AdminDesigns Logo" class="img-responsive w250">
                    </a>
                </div>

                <div class="col-xs-6 text-right va-b pr5">
                    <div class="login-links">
                        <a ui-sref="login" class="active" title="Login">Login</a>
                        <span class="text-white"> | </span>
                        <a ui-sref="signup" class="" title="New Login Register">Register</a>
                    </div>
                </div>

            </div>

            <div class="panel panel-info mt10 br-n">

                <div class="panel-heading heading-border bg-white">

                </div>

                <!-- end .form-header section -->
                <form id="forgotPasswordForm" name="forgotPasswordForm" method="post" ng-submit="forgotPassword(forgotPasswordForm)" novalidate>
                    <div class="panel-body bg-light p30">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-10 center-block">

                                <div class="mt10 mb40 center-block">
                                    <h3 class="text-center">Forgot Password</h3>
                                </div>

                                <div class="section">
                                    <label for="mobile_phone" class="field-label text-muted fs18 mb10">Mobile Number</label>
                                    <label for="mobile_phone" class="field prepend-icon" ng-class="showMessage(forgotPasswordForm.mobile_phone)?'state-error':''">
                                        <input type="number" name="mobile_phone" id="mobile_phone" class="gui-input form-control" ng-model="user.mobile" minlength="10"
                                            maxlength="10" placeholder="Enter Mobile Number" required>
                                        <label for="mobile_phone" class="field-icon">
                                            <i class="fa fa-phone"></i>
                                        </label>
                                        <span ng-messages="(forgotPasswordForm.mobile_phone.$touched && forgotPasswordForm.mobile_phone.$error)" role="alert">
                                            <span class="error-message" ng-show="showMessage(forgotPasswordForm.mobile_phone)">Please enter valid Mobile Number.</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class=" bg-light text-danger text-center error-message" ng-if="errorMessage">{{errorMessage}}</div>
                        </div>
                        <div class="center-block text-center">
                            <input type="submit" class="button btn btn-hover btn-primary center-block text-center" value="Submit">
                        </div>
                        <div class="section-divider">
                            <span>
                                <a ui-sref="login" class="center-block text-center">Back to login</a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <!-- End: Content -->

</section>
<!-- End: Content-Wrapper -->