<!-- Start: Content-Wrapper -->
<section id="content_wrapper">
    
        <!-- begin canvas animation bg -->
        <div id="canvas-wrapper">
            <canvas id="demo-canvas"></canvas>
        </div>
    
    
        <!-- Begin: Content -->
        <section id="content">
    
            <div class="admin-form theme-info" id="login1">
    
                <div class="row mb15 table-layout">
    
                    <div class="col-xs-6 va-m pln">
                        <a ui-sref="dashboard" title="Return to Dashboard">
                            <img src="../assets/img/logos/logo_white.png" title="AdminDesigns Logo" class="img-responsive w250">
                        </a>
                    </div>
    
                    <div class="col-xs-6 text-right va-b pr5">
    
                    </div>
    
                </div>
    
                <div class="panel panel-info mt10 br-n">
    
                    <div class="panel-heading heading-border bg-white">
    
                    </div>
    
                    <!-- end .form-header section -->
                    <form id="verifyforgotpasswordForm" name="verifyforgotpasswordForm" method="post" ng-submit="verifyforgotpassword(verifyforgotpasswordForm)">
                        <div class="panel-body bg-light">
                            <div class="row">
                                <div class="col-md-10 center-block">
    
                                    <div class="mt10 mb40">
                                        <h3 style="text-align:center">Verify Mobile Number</h3>
                                    </div>
                                    <div class="success-messages" ng-show="successMessages">{{successMessages}}</div>
                                    <div class="section">
                                        <label for="otp" class="field-label text-muted fs18 mb10">Enter OTP Number</label>
                                        <label for="otp" class="field prepend-icon" ng-class="showMessage(verifyforgotpasswordForm.otp)?'state-error':''">
                                            <input type="number" name="otp" id="otp" class="gui-input form-control" ng-model="user.otp" title="Enter OTP Number" placeholder="Enter OTP Number" required>
                                            <label for="otp" class="field-icon">
                                                <i class="fa fa-key"></i>
                                            </label>
                                            <span ng-messages="(verifyforgotpasswordForm.otp.$touched && verifyforgotpasswordForm.otp.$error)" role="alert">
                                                <span class="error-message" ng-show="showMessage(verifyforgotpasswordForm.otp)">Please Enter OTP.</span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- end section -->
                                    <div class="section">
                                        <label for="password" class="field-label text-muted fs18 mb10">Password</label>
                                        <label for="password" class="field prepend-icon" ng-class="showMessage(verifyforgotpasswordForm.password)?'state-error':''">
                                          <input type="password" name="password" id="password" class="gui-input form-control"
                                                 ng-model="user.password" placeholder="Create a password" required>
                                          <label for="password" class="field-icon">
                                            <i class="fa fa-unlock-alt"></i>
                                          </label>
                                          <span ng-messages="(verifyforgotpasswordForm.password.$touched && verifyforgotpasswordForm.password.$error)" role="alert">
                                            <span class="error-message" ng-show="showMessage(verifyforgotpasswordForm.password)">Please enter Password.</span>
                                          </span>
                                        </label>
                                      </div>
                                      <!-- end section -->
                        
                                      <div class="section">
                                        <label for="username" class="field-label text-muted fs18 mb10">Retype Password</label>
                                        <label for="confirmPassword" class="field prepend-icon" ng-class="showMessage(verifyforgotpasswordForm.confirmPassword)?'state-error':''">
                                          <input type="password" name="confirmPassword" id="confirmPassword" class="gui-input form-control"
                                                 ng-model="user.confirmPassword" compare-to="user.password" placeholder="Retype your password" required>
                                          <label for="confirmPassword" class="field-icon">
                                            <i class="fa fa-lock"></i>
                                          </label>
                                          <span ng-messages="(verifyforgotpasswordForm.confirmPassword.$touched && verifyforgotpasswordForm.confirmPassword.$error)" role="alert">
                                            <span class="error-message" ng-show="showMessage(verifyforgotpasswordForm.confirmPassword)">Passwords don't match.</span>
                                          </span>
                                        </label>
                                      </div>
                                      <!-- end section -->
    
                                </div>
                                <div class=" bg-light text-danger text-center error-message" ng-if="errorMessage">{{errorMessage}}</div>
                            </div>
                            <div class="center-block text-center">
                                <input type="submit" class="button btn btn-hover btn-primary center-block text-center" value="Submit">
                            </div>
                            <div class="section-divider">
                                <span>
                                    <a ui-sref="login" class="center-block text-center">Back to login</a>
                                </span>
                            </div>
                        </div>
                        <!-- end .form-body section -->
    
                    </form>
                </div>
            </div>
    
        </section>
        <!-- End: Content -->
    
    </section>
    <!-- End: Content-Wrapper -->