<!-- Start: Content-Wrapper -->
<section id="content_wrapper">

    <header id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-icon">
                    <a href="dashrole.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-trail">School Master</li>
                <li class="crumb-trail">Role</li>
            </ol>
        </div>
    </header>

    <div class="panel p10">
        <div class="panel-menu theme-primary">
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="">
                        <h4>
                            Manage School Role
                        </h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-2">

                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="pull-right">
                        <button class="editor_create btn btn-sm btn-primary btn-block" id="class_remove" type="button" data-toggle="modal" data-toggle="modal"
                            data-target="#addRoleModal">
                            <span class="glyphicons glyphicons-circle_plus"></span> Add Role</button>
                    </div>
                </div>

            </div>

            <!-- Add model pop-up -->
            <div class="modal fade" id="addRoleModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="cancelRole()" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add School Role</h4>
                        </div>
                        <div class="modal-body">
                            <div class="pb10">
                                <form name="addRoleForm" role="form" ng-submit="addRoleDetails(addRoleForm)" novalidate>
                                    <div class="form-group">
                                        <label for="name">Role Name:</label>
                                        <input type="text" class="form-control v-form-control" name="name" ng-model="role_name" ng-pattern="/^[a-zA-Z\s]*$/" required
                                            autocomplete="off" placeholder="Role Name" id="name">
                                        <span ng-messages="((addRoleForm.name.$touched && addRoleForm.name.$error) || (addRoleForm.$submitted && addRoleForm.name.$error))"
                                            role="alert">
                                            <span class="error_msg" ng-message="required">Please complete this mandatory field.</span>
                                            <span class="error_msg" ng-message="pattern">Please enter valid role name.</span>
                                        </span>
                                    </div>

                                    <button type="submit" class="editor_create btn btn-primary center-block element_center">
                                        Submit</button>
                                </form>
                                <div class="error_msg text-center pt10" ng-if="errorMessage">{{errorMessage}}</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Add Modal End-->

            <!-- Edit model pop-up -->
            <div class="modal fade" id="editRoleModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="cancelRole()" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit School Role</h4>
                        </div>
                        <div class="modal-body">
                            <div class="pb10">
                                <form name="editRoleForm" role="form" ng-submit="editRoleDetails(editRoleForm)" novalidate>
                                    <div class="form-group">
                                        <label for="name">Role Name:</label>
                                        <input type="text" class="form-control v-form-control" name="name" ng-model="roleDetailsByid.role_name" ng-pattern="/^[a-zA-Z\s]*$/"
                                            required autocomplete="off" placeholder="Role Name" id="name">
                                        <span ng-messages="((editRoleForm.name.$touched && editRoleForm.name.$error) || (editRoleForm.$submitted && editRoleForm.name.$error))"
                                            role="alert">
                                            <span class="error_msg" ng-message="required">Please complete this mandatory field.</span>
                                            <span class="error_msg" ng-message="pattern">Please enter valid role name.</span>
                                        </span>
                                    </div>
                                    <button type="submit" class="editor_create btn btn-primary center-block element_center">
                                        Submit</button>
                                </form>
                                <div class="error_msg text-center pt10" ng-if="errorMessage">{{errorMessage}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End of model pop up -->
        </div>

        <div class="panel-body pn" style="overflow: hidden;">
            <table id="example" cellspacing="0" width="100%" class="table admin-form theme-warning tc-checkbox-1 fs13 dataTable" role="grid"
                aria-describedby="example_info">
                <thead>
                    <tr class="bg-light">
                        <th class="">Role Name</th>
                        <th class="text-center cursor">Edit</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th class="">Role Name</th>
                        <th class="text-center">Edit</th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr id="row_4" role="row" class="odd" ng-repeat="role in roleDetails">
                        <td class="">{{role.role_name}}</td>
                        <td class="text-center">
                            <a ng-click="getRoleDetailsByID(role.id)" data-toggle="modal" data-target="#editRoleModal" class="text-center cursor">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End: Content -->
</section>