<!-- Start: Content-Wrapper -->
<section id="content_wrapper">

    <header id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-icon">
                    <a href="dashboard.html">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-link">
                    <a href="index.html">School</a>
                </li>
                <li class="crumb-link">
                    <a href="index.html">Students</a>
                </li>
                <li class="crumb-trail">Promote Students</li>
            </ol>
        </div>
    </header>

    <div class="panel p10">
        <div class="panel-menu p12 admin-form theme-primary">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="m10 mb20">
                        <h4>
                            Edit Templete
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-4 col-xs-12 mb10">
                        <label for="zip" class="field">
                            <input type="text" name="uname" id="class" class="gui-input" placeholder="Name">
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 mb10">
                        <label class="field select">
                            <select id="location" name="location" placeholder="Class">
                                <option value="">Module</option>
                                <option value="AL">Onborading</option>
                                <option value="DZ">Sales</option>
                            </select>
                            <i class="arrow double"></i>
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 mb10">
                        <label class="field select">
                            <select id="location" name="location" placeholder="Class">
                                <option value="">Action</option>
                                <option value="AL">Active</option>
                                <option value="DZ">Inactive</option>
                            </select>
                            <i class="arrow double"></i>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="pull-right col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-sm btn-dark btn-block">
                            <span class="glyphicons glyphicons-search"></span>
                            Search</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-body pn" style="overflow: hidden;" id="flip-scroll">
            <table id="example datatable" class="table" cellspacing="0" width="100%" class="table admin-form theme-warning tc-checkbox-1 fs13">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Module</th>
                        <th>Email</th>
                        <th>SMS</th>
                        <th>Other Notification</th>
                        <th>Active Status</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Notification Name</td>
                        <td>each of a set of standardized</td>
                        <td>Onboarding</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>Edit</td>
                    </tr>
                    <tr>
                        <td>Notification Name</td>
                        <td>each of a set of standardized</td>
                        <td>Onboarding</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>Edit</td>
                    </tr>
                    <tr>
                        <td>Notification Name</td>
                        <td>each of a set of standardized</td>
                        <td>Onboarding</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>Edit</td>
                    </tr>
                    <tr>
                        <td>Notification Name</td>
                        <td>each of a set of standardized</td>
                        <td>Onboarding</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>Edit</td>
                    </tr>
                    <tr>
                        <td>Notification Name</td>
                        <td>each of a set of standardized</td>
                        <td>Onboarding</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>yes</td>
                        <td>Edit</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Module</th>
                        <th>Email</th>
                        <th>SMS</th>
                        <th>Other Notification</th>
                        <th>Active Status</th>
                        <th>Edit</th>
                    </tr>
                </tfoot>
            </table>
            <div class="m15 mt25">
                <div class="row">
                    <div class="col-md-1 center-block">
                        <input type="submit" class="p10 pl20 pr20 orange_btn center-block button btn btn-sm btn-hover btn-primary text-center" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Content -->
</section>